plotly==4.14.3
spacepy==0.2.2
dash==1.20.0
numpy==1.19.1
dash_core_components==1.16.0
dash_html_components==1.1.3
chart_studio==1.1.0
pandas==1.1.0
requests==2.31.0
PyAstronomy==0.16.0
pysatMagVect==0.4.0
